USE [master]
GO
/****** Object:  Database [biciDb]    Script Date: 27/11/2021 3:05:58 p. m. ******/
/**
Base de datos de Tienda de bicicletas creada por
***Carlos Figueroa - 19-miin-1-082
**/
CREATE DATABASE [biciDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'biciDb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SCL2019CORE\MSSQL\DATA\biciDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'biciDb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SCL2019CORE\MSSQL\DATA\biciDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [biciDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [biciDb]
GO
/****** Object:  Table [dbo].[clientes_fijos]    Script Date: 27/11/2021 3:05:58 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[clientes_fijos](
	[nombre] [nvarchar](50) NOT NULL,
	[apellido] [nvarchar](50) NOT NULL,
	[cedula] [nvarchar](50) NOT NULL,
	[fecha_nacimiento] [date] NOT NULL,
	[id] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_clientes_fijos_a] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[empleado]    Script Date: 27/11/2021 3:05:58 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[empleado](
	[nombre] [nvarchar](50) NOT NULL,
	[apellido] [nvarchar](50) NOT NULL,
	[cedula] [nvarchar](50) NOT NULL,
	[fecha_nacimiento] [date] NOT NULL,
	[salario] [money] NOT NULL,
	[id] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_empleado] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[marcas]    Script Date: 27/11/2021 3:05:58 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[marcas](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](50) NOT NULL,
	[pais] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_marcas] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 1, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[materiales]    Script Date: 27/11/2021 3:05:58 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[materiales](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](50) NOT NULL,
	[descripcion] [ntext] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[modelos]    Script Date: 27/11/2021 3:05:58 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[modelos](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](50) NOT NULL,
	[peso_lbs] [decimal](18, 0) NOT NULL,
	[material_fk] [int] NOT NULL,
	[tipo_transmision_fk] [int] NOT NULL,
	[cambios] [numeric](18, 0) NOT NULL,
	[marca_fk] [int] NOT NULL,
 CONSTRAINT [PK_modelos] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tipos_transmision]    Script Date: 27/11/2021 3:05:58 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tipos_transmision](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](50) NOT NULL,
	[descripcion] [nvarchar](max) NULL,
 CONSTRAINT [PK_tipos_transmision] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[clientes_fijos] ON 

INSERT [dbo].[clientes_fijos] ([nombre], [apellido], [cedula], [fecha_nacimiento], [id]) VALUES (N'Nombre ej', N'apellid ej', N'00198678756', CAST(N'2001-01-01' AS Date), 12)
INSERT [dbo].[clientes_fijos] ([nombre], [apellido], [cedula], [fecha_nacimiento], [id]) VALUES (N'Fulano', N'De tal', N'00198678756', CAST(N'2001-01-01' AS Date), 13)
INSERT [dbo].[clientes_fijos] ([nombre], [apellido], [cedula], [fecha_nacimiento], [id]) VALUES (N'Nombre', N'Apellido', N'23128', CAST(N'2001-01-01' AS Date), 15)
SET IDENTITY_INSERT [dbo].[clientes_fijos] OFF
GO
SET IDENTITY_INSERT [dbo].[empleado] ON 

INSERT [dbo].[empleado] ([nombre], [apellido], [cedula], [fecha_nacimiento], [salario], [id]) VALUES (N'Fulano', N'De tal', N'00198678756', CAST(N'2001-01-01' AS Date), 39990.0000, 1)
SET IDENTITY_INSERT [dbo].[empleado] OFF
GO
SET IDENTITY_INSERT [dbo].[marcas] ON 

INSERT [dbo].[marcas] ([id], [nombre], [pais]) VALUES (1, N'Marca ejemplo', N'Pais ejemplo')
INSERT [dbo].[marcas] ([id], [nombre], [pais]) VALUES (2, N'specialized', N'europa')
INSERT [dbo].[marcas] ([id], [nombre], [pais]) VALUES (3, N'scott', N'europa')
SET IDENTITY_INSERT [dbo].[marcas] OFF
GO
SET IDENTITY_INSERT [dbo].[materiales] ON 

INSERT [dbo].[materiales] ([id], [nombre], [descripcion]) VALUES (1, N'fibra de carbono', N'Material liviano. Buena resistencia al calor')
INSERT [dbo].[materiales] ([id], [nombre], [descripcion]) VALUES (2, N'hierro', N'Material pesado. Poca resistencia al agua o al sol')
INSERT [dbo].[materiales] ([id], [nombre], [descripcion]) VALUES (3, N'aluminio', N' Material liviano, no tanto como fibra de carbono. Poca resistencia al calor')
SET IDENTITY_INSERT [dbo].[materiales] OFF
GO
SET IDENTITY_INSERT [dbo].[modelos] ON 

INSERT [dbo].[modelos] ([id], [nombre], [peso_lbs], [material_fk], [tipo_transmision_fk], [cambios], [marca_fk]) VALUES (1, N'marlin10', CAST(10 AS Decimal(18, 0)), 3, 3, CAST(10 AS Numeric(18, 0)), 12)
INSERT [dbo].[modelos] ([id], [nombre], [peso_lbs], [material_fk], [tipo_transmision_fk], [cambios], [marca_fk]) VALUES (5, N'spark rc', CAST(23 AS Decimal(18, 0)), 9, 2, CAST(13 AS Numeric(18, 0)), 3)
INSERT [dbo].[modelos] ([id], [nombre], [peso_lbs], [material_fk], [tipo_transmision_fk], [cambios], [marca_fk]) VALUES (6, N'tarmac disc sl6 2020', CAST(12 AS Decimal(18, 0)), 9, 2, CAST(12 AS Numeric(18, 0)), 2)
SET IDENTITY_INSERT [dbo].[modelos] OFF
GO
SET IDENTITY_INSERT [dbo].[tipos_transmision] ON 

INSERT [dbo].[tipos_transmision] ([id], [nombre], [descripcion]) VALUES (1, N'triple_platos', N'este_es_el_mas_basico_es_de_3*9_y_casete_de_11/34')
INSERT [dbo].[tipos_transmision] ([id], [nombre], [descripcion]) VALUES (2, N'monoplato', N'este_es_de_1*11_y_1*12')
INSERT [dbo].[tipos_transmision] ([id], [nombre], [descripcion]) VALUES (3, N'rohloff', N'este_es_el_mas_conocid_cuenta_con_4_marchas_y_un_cambio_suave_entre_ellas')
SET IDENTITY_INSERT [dbo].[tipos_transmision] OFF
GO
/****** Object:  Index [IX_material]    Script Date: 27/11/2021 3:05:59 p. m. ******/
ALTER TABLE [dbo].[materiales] ADD  CONSTRAINT [IX_material] UNIQUE NONCLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[modelos]  WITH CHECK ADD  CONSTRAINT [FK_modelos_marcas] FOREIGN KEY([marca_fk])
REFERENCES [dbo].[marcas] ([id])
GO
ALTER TABLE [dbo].[modelos] CHECK CONSTRAINT [FK_modelos_marcas]
GO
ALTER TABLE [dbo].[modelos]  WITH CHECK ADD  CONSTRAINT [FK_modelos_materiales] FOREIGN KEY([material_fk])
REFERENCES [dbo].[materiales] ([id])
GO
ALTER TABLE [dbo].[modelos] CHECK CONSTRAINT [FK_modelos_materiales]
GO
ALTER TABLE [dbo].[modelos]  WITH CHECK ADD  CONSTRAINT [FK_modelos_tipo_transmision] FOREIGN KEY([tipo_transmision_fk])
REFERENCES [dbo].[tipos_transmision] ([id])
GO
ALTER TABLE [dbo].[modelos] CHECK CONSTRAINT [FK_modelos_tipo_transmision]
GO
USE [master]
GO
